body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
    letter-spacing: 2px;
    line-height: 20px;
}
.item p{
    padding: 45px;
    max-width: 450px;
    background-color: #ffffff;
    color: black;
    font-weight: 300;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(238, 238, 238, 0.741);
    transition: .5s;
}

.item p:hover {
    background: rgb(28, 175, 28);
    color: white;
}
